---
import Headermain from '../components/headermain.astro';
import HeaderImgBackground from '../components/HeaderImgBackground.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Rodrigues Assistência">

	<main>
		<Headermain />
		<HeaderImgBackground />
	</main>
</Layout>