<div class="relative bg-bgblue w-full h-256 md:h-[90vh]">
  <h5
    class=" relative font-assistant
  text-center text-sm 
  inline-block
  rounded-lg
  text-blue-200
  bg-filter
font-bold
  uppercase"
  >
    Entre em Contato
</h5>

  <!-- Container para os textos -->
  <div
    class="relative inset-4 flex flex-col items-center justify-center space-y-4 px-4"
  >
    <h1
      class="font-assistant text-center text-white text-2xl sm:text-lg md:text-4xl"
    >
      Concerto Profissional de Máquinas de lavar e Geladeiras
    </h1>
    <h2
      class="font-assistant text-center text-sm sm:text-xs md:text-lg font-medium text-white max-w-3xl"
    >
      Soluções rápidas e eficientes para consertos de máquinas de lavar em
      Canoas. Confiança e qualidade ao seu alcance.
    </h2>
  </div>
</div>
